
.sign-up {
    display               : grid;
    grid-template-rows    : repeat( 6, auto );
    grid-template-columns : 380px;

    &--title {
        margin : 10px 0 10px 0;
    }
}


// styles from Yihua
/*
.sign-up {
    display        : flex;
    flex-direction : column; 
    width          : 380px;

    .title {
        margin : 10px 0 10px 0;
    }
}
*/