
.homepage {
    display        : flex;
    flex-direction : column;
    align-items    : center;
    padding        : 20px 80px 20px 80px;
}

.directory-menu {
    display         : flex;
    flex-wrap       : wrap;
    justify-content : space-between;
    width           : 100%;
}

.menu-item {
    display         : flex;
    flex            : 1 1 auto;
    align-items     : center;
    justify-content : center;
    min-width       : 30%;
    margin          : 0 7.5px 15px 7.5px;

    border : 1px solid rgba( 0, 0, 0, 1 );

    // not sure why margin for &first:child and &:last-child are the same the margin parameters
    // for menu-item
    &:first-child {
        margin : 0 7.5px 15px 7.5px;
    }

    &:last-child {
        margin : 0 7.5px 15px 7.5px;
    }

    > .content {
        display : flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 90px;
        padding: 0 25px 0 25px;

        border: 1px solid rgba( 0, 0, 0, 1 );

        // > is a child combinator 
        > .title {
            margin : 0 0 6px 0;

            font-size   : 22px;
            // from stackoverflow: "Default font weight is 400, and fonts work in multiples of
            // 100. 300 is light (if your font supports it), 400 is regular, 600 is semibold
            // and 700 is bold."
            font-weight : 700;
			color       : rgbaa(74, 74, 74, 1);
        }

        > .subtitle {
            font-size   : 16px;
            font-weight : 300;           
        }
    }
}

